<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/main.css' %}" />
    <title>Title</title>
</head>
<body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add_book/">Add book</a></li>
      <li><a href="/add_author/">Add author</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
    <form method="POST" action="{% url 'add_author' %}">
        {% csrf_token %}
        <div>
            {{ form.name }}
        </div>
        <div>
            {{ form.surname }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <form method="POST" action="{% url 'delete_author' %}">
        {% csrf_token %}
        {%  for item in authors %}
            <p>{{ item.id }} {{ item.name }} {{item.surname}} <button type="submit" class="btn btn-primary" name="delete" value={{ item.id }}>Delete</button> </p>
        {% endfor %}
    </form>
</body>
</html>