<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/main.css' %}" />
    <title>Home</title>
</head>
<body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/man_book/">Manage books</a></li>
      <li><a href="/man_author/">Manage authors</a></li>
      <li><a href="/order_exec/">Execute orders</a></li>
      <li><a href="/my_orders/">My orders</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input name="search" placeholder="Search"/>
        <button type="submit" name="srch">Search</button>
    </form>
    <form method="POST" action="{% url 'reservation' %}">
        {%  for item in all %}
            <p>
                {{ item.id }} {{ item.name }} {{item.isbn}}
                {% if item.status == 0 %}
                    <button type="submit" name="reservation" value={{ item.id }}>Make reservation</button>
                {% endif %}
                {% if item.status == 1 %}
                    <strong>
                        Borrowed
                    </strong>
                {% endif %}
                {% if item.status == 2 %}
                    <strong>
                        Reserved
                    </strong>
                {% endif %}
            </p>
        {% endfor %}
    </form>
</body>
</html>