<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/main.css' %}" />
    <title>My Orders</title>
</head>
<body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/man_book/">Manage books</a></li>
      <li><a href="/man_author/">Manage authors</a></li>
      <li><a href="/order_exec/">Execute orders</a></li>
      <li><a href="/my_orders/">My orders</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
    <form method="POST" action={% url 'cancel_reservation' %}>
        {% csrf_token %}
        <div>
            {% for order in orders %}
                <p>{{ order.id }} {{ order.action_start_time }} | {{ order.action_end_time }} | {{ order.book_id_id__name }}
                {% if order.type == 1 %}
                    <strong>
                        Borrowed
                    </strong>
                {% endif %}
                {% if order.type == 2 %}
                    <strong>
                        Reserved <button type="submit" name="cancel_reservation" value={{ order.id }}>Cancel reservation</button>
                    </strong>
                {% endif %}
                </p>
            {% endfor %}
        </div>
    </form>

</body>
</html>