<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/main.css' %}" />
    <title>My Orders</title>
</head>
<body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add_book/">Add book</a></li>
      <li><a href="/add_author/">Add author</a></li>
      <li><a href="/order_exec/">Execute orders</a></li>
      <li><a href="/my_orders/">My orders</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
    <div>
        {% for order in orders %}
            <p>{{ order.action_start_time }} | {{ order.action_end_time }} | {{ order.book_id_id__name }}
            {% if order.type == 1 %}
                <strong>
                    Borrowed
                </strong>
            {% endif %}
            {% if order.type == 2 %}
                <strong>
                    Reserved
                </strong>
            {% endif %}
            </p>
        {% endfor %}

    </div>
</body>
</html>